.active {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  background: #b7dcf3;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 80%;
  border-radius: 8px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.addNew__form {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: auto;
  gap: 30px;
}
input,
select {
  height: 40px;
  font-size: 18px;
}
textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 300px;
  font-size: 18px;
  border-radius: 8px;
}
.buttons__contsiner {
  display: flex;
  justify-content: center;
  gap: 2%;
}
.submit__btn,
.close__btn {
  width: 40%;
  height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}
